.hero {
  display: flex;
  margin: 0 auto;
  width: 75%;
  max-width: 1920px;
  flex-wrap: wrap;
}

.hero__image {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  box-shadow: 10px 10px 50px #00000044;
}

.hero__title {
  width: calc(100% - 500px);
  text-align: end;
  font-family: 'Inter', sans-serif;
}

.hero__title_text {
  margin: 0;
  font-size: 9.6rem;
  color: #494949;
}

.hero__title_name {
  margin: 0;
  white-space: pre-wrap;
  font-size: 13rem;
  font-weight: bold;
  -webkit-text-stroke: 6px #007BFF;
  paint-order: stroke fill;
  color: #E4E4E4;
}

.hero__subtitle {
  margin: 50px auto;
  width: 100%;
  text-align: end;
  font-size: 4.8rem;
  font-family: 'Inter', sans-serif;
  font-weight: light;
  color: #007BFF;
}

.hero__line {
  width: 100%;
}

.hero__description {
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
}