@media screen and (max-width: 1024px) {
  html {
    font-size: 30%;
  }
  .header {
    margin: 25px auto;
    height: 50px;
  }
  
  .navbar {
    height: 50px;
    top: 25px;
  }

  .hero__image {
    width: 300px;
    height: 300px;
  }

  .hero__title {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
    justify-content: center;
  }

  .hero__subtitle {
    margin: 25px auto;
  }

  .about__title {
    margin: 25px auto 35px
  }

  .about__description {
    line-height: 20px;
  }

  .about__video {
    margin: 25px auto;
  }

  .portfolio__title {
    margin: 25px auto;
  }

  .portfolio__container {
    padding: 50px;
    gap: 40px;
    border-radius: 30px;
  }

  .card {
    border-radius: 25px;
  }

  .card__container {
    margin: 15px;
  }

  .card__title {
    margin: 15px auto;
    line-height: 30px;
    padding-left: 15px;
  }

  .card__detail {
    height: 150px;
  }

  .card__button {
    height: 20px;
  }

  .card__footer {
    margin: 15px auto;
  }

  .skills {
    margin: 25px auto;
  }

  .skills__title {
    margin: 25px auto;
  }

  .skills__container {
    border-radius: 30px;
  }

  .skills__group {
    gap: 10px;
  }

  .skills__item {
    height: 25px;
  }

  .contact {
    padding: 25px 0;
  }

  .contact__item {
    height: 100px;
  }

  .contact__icon {
    width: 50px;
  }

  .footer {
    height: 100px;
  }

  .footer__icon {
    width: 25px;
  }
}

@media screen and (max-width: 780px) {
  html {
    font-size: 25%;
  }

  .header {
    margin: 25px auto;
    height: 35px;
  }
  
  .navbar {
    width: 70%;
    height: 35px;
    top: 25px;
  }

  .hero__image {
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }

  .hero__title {
    margin: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hero__title_name {
    -webkit-text-stroke: 3px #007BFF;
  }

  .hero__subtitle {
    margin: 10px auto;
    text-align: center;
  }

  .portfolio__container {
    grid-template-columns: 1fr;
    padding: 40px;
    gap: 35px;
  }

  .card__detail {
    height: 250px;
  }

  .skills__group {
    padding: 30px;
    gap: 5px;
  }

  .skills__item {
    height: 16px;
  }

  .contact__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    'github github'
    'satelite status'
    'whatsapp whatsapp'
    'location cv'
    'linkedin linkedin'
    'terminal email';
  }

  .contact__item {
    height: 80px;
  }

  .contact__icon {
    width: 40px;
  }

  .footer {
    height: 80px;
  }

  .footer__icon {
    width: 20px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 20%;
  }

  .portfolio {
    width: 90%;
  }

  .portfolio__container {
    padding: 25px;
  }

  .skills {
    width: 90%;
  }

  .skills__group {
    padding: 15px;
  }

  .contact__container {
    width: 90%;
  }

  .contact__item {
    height: 50px;
    padding: 0;
  }

  .contact__icon {
    width: 30px;
  }

  .footer__icon {
    width: 15px;
  }
}