html {
  font-size: 62.5%;
}

.page {
  margin: auto;
  min-width: 320px;
  font-family: "Jetbrains Mono", serif;
  font-style: normal;
  font-weight: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #E4E4E4;
  background-image: url("../images/background_cover.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 150px;
}